<div class="horizontal-scroll">
    <ba-card title="Admin Detail" >
             
            <p-dataTable [value]="adminlist" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt class="samarth">
                <p-header>
                    
                    <div class="ui-helper-clearfix">
                        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none;float: left">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                        </div>
                        <button 
                            type="button" 
                            class="btn btn-info"
                            pButton 
                            icon="fa-file-o" 
                            iconPos="left" 
                            label="CSV" 
                            (click)="dt.exportCSV()" 
                            style="float:right">
                            CSV
                        </button>
                    </div>
                </p-header>
                <p-column field="fullname" [filter]="true" filterMatchMode="in">
                    <ng-template pTemplate="filter" let-col>
                        <p-multiSelect 
                            [options]="fullnameLists" 
                            defaultLabel="All Names" 
                            (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" 
                            styleClass="ui-column-filter">
                        </p-multiSelect>
                    </ng-template>
                </p-column>
                <p-column field="province" [filter]="true" filterMatchMode="in">
                    <ng-template pTemplate="filter" let-col>
                        <p-multiSelect 
                            [options]="provinceLists" 
                            defaultLabel="All Provinces" 
                            (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" 
                            styleClass="ui-column-filter">
                        </p-multiSelect>
                    </ng-template>
                </p-column>
                <p-column field="district" [filter]="true" filterMatchMode="in">
                    <ng-template pTemplate="filter" let-col>
                        <p-multiSelect 
                            [options]="districtLists" 
                            defaultLabel="All Districts" 
                            (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" 
                            styleClass="ui-column-filter">
                        </p-multiSelect>
                    </ng-template>
                </p-column>
                <p-column field="area" [filter]="true" filterMatchMode="in">
                    <ng-template pTemplate="filter" let-col>
                        <p-multiSelect 
                            [options]="areaLists" 
                            defaultLabel="All Areas" 
                            (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" 
                            styleClass="ui-column-filter">
                        </p-multiSelect>
                    </ng-template>
                </p-column>
            </p-dataTable> 
          <!-- <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="align-right">Full Name</th>
                    <th class="align-right">Email</th>
                    <th class="align-right">Province</th>
                    <th class="align-right">District</th>
                    <th class="align-right">Area</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-right">
                        <p-multiSelect 
                            [options]="_searchAdmin" 
                            [(ngModel)]="_selectedAdmins"
                            (onChange)="onChange($event)">
                        </p-multiSelect>
                    </td>
                    <td class="align-right">
                        <select 
                            class="form-control">
                            <option value="">---- Select Email ----</option>
                        </select>
                    </td>
                    <td class="align-right">
                        <select 
                            id="provice"
                            (change)="onChangeProvince($event.target.value)"
                            class="form-control">
                            <option value="">---- Select Province ----</option>
                            <option *ngFor="let pro of _provinceLists" [value]="pro.name">{{pro.name}}</option>
                        </select>
                    </td>
                    <td class="align-right">
                        <select 
                            id="district"
                            (change)="onChangeDistrict($event.target.value)"
                            class="form-control">
                            <option value="">---- Select District ----</option>
                            <option *ngFor="let dist of _districtOptionLists" [value]="dist">{{dist}}</option>
                        </select>
                    </td>
                    <td class="align-right">
                        <select 
                            id="area"
                            (change)="onChangeArea($event.target.value)"
                            class="form-control">
                            <option value="">---- Select Area ----</option>
                            <option *ngFor="let areas of _areaOptionLists" [value]="areas">{{areas}}</option>
                        </select>
                    </td>
                </tr>
                <tr *ngFor="let user of adminlist">
                    <td class="align-right">{{ user.fullname }}</td>
                    <td class="align-right"><a class="email-link" href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    <td class="align-right">{{ user.province }}</td>
                    <td class="align-right">{{ user.district }}</td>
                    <td class="align-right">{{ user.area }}</td>
                </tr>
            </tbody>
        </table>  -->
    </ba-card>
</div>
